body {
  font-family: 'Source Sans Pro',sans-serif;
  letter-spacing: 1.05px;
}

#header {
    padding-top: 10px;
    height:10vw;
    font-size:1.6vw;
    text-align: center;
}

#main {
    text-align: center;
}

#main-img {
    box-shadow: 2px 2px 2px #0070C0;
    height:9vw;
    width:9vw;
    border-radius:9vw;
}

#foot {
    background-color: rgb(220,220,220);

}

.head-sl {
    height:2vw;
    padding-left:1vw;
    font-size:1.6vw;
    padding-right:1vw;

}

.head-n {
    font-weight:700;
    color:#0070C0;
}

.head-a {
    text-decoration: none;
    color:#444;
    font-size:1.6vw;
    font-weight: 300;
    padding-right:1vw;
}

a:hover {
    text-decoration: none;
    color:#0070C0;
}

.head-act {
    text-decoration: none;
    color:#0070c0;
}

.svc-logo {
    height:0.7vw;
    width:0.7vw;
    border-radius:0.7vw;
}
